<p id="notice"><%= notice %></p>
<h1>Your Tank</h1>
<div class="container">
  <% @aquatics.each do |fish| %>
    <h1><%= fish.nick_name %></h1>
  <% end %>
</div>
<br>
<%= link_to 'New Aquatic', new_aquatic_path %>
